.educolor{
    display: flex;
    color: white;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 70px;
    margin: 50px;
}

.container{
    transition: 0.3s;
    box-shadow: 1px 3px 3px 1px rgb(1, 2, 15);
    padding: 20px 20px;
    border-radius: 10px;
    width: 80%;
}

.container:hover{
    box-shadow: 0 8px 16px 0 rgb(1, 2, 15);
}

.container img{
    max-width: 65%;
    display: block;
    height: auto;
    margin: 15px 15px;
    border-radius: 5%;
}

.container img:hover , .container img:focus{
    transform: scale(1.05);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #e1d1ec;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #000000d2;
    width: 50%; /* Could be more or less, depending on screen size */
    color: #0808e0;
    border-radius: 2.6%;
    font-size: bold;
  }
  
  /* The Close Button */
  .close {
    color: #4d4b4b;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mybtn{
    text-decoration: none;
    padding: 5px 5px;
    background: rgb(9, 11, 130);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid #143d7f;
    font-size: 0.9rem;
}

.mybtn:hover{
    font-size: 0.95rem;
}